/* ---------- 4 EN LINEA --------- */
:root{
    --mouse-x: 0px;
    --mouse-y: 0px;
}
.game{
    margin: 50px;
    display: flex;
    align-items: center;
}
#ficha{
    position: relative;
    /* left: var(--mouse-x);
    top: var(--mouse-y); */
    transform: translate(var(--mouse-x), var(--mouse-y));
    transition: 2s;
}
#tablero{
    /* z-index: 1; */
    position: absolute;
    left: 280px;
    top: 200px;
    width: 400px;
    height: 300px;
}
#gameDiv{
    width: 890px;
    height: 590px;
}
.ficha, .dropPoint{
    width: 50px;
    height: 50px;
}
