/* ---------- 4 EN LINEA --------- */
:root{
    --mouse-x: 0px;
    --mouse-y: 0px;
    --primario: #096098;
    --primarioSombra1: #064873;
    --primarioSombra2: #033250;
    --primarioSombra3: #001828;
    --primarioLuz1: #1F7BB6;
    --primarioLuz2: #6DB6E6;
    --primarioLuz3: #ADDCFA;
    --secundario: #7B28B3;
    --secundarioSombra1: #5C0995;
    --secundarioSombra2: #410569;
    --secundarioSombra3: #1F0133;
    --secundarioLuz1: #8A41BB;
    --secundarioLuz2: #9B57C9;
    --secundarioLuz3: #E0C2F5;
    --acento: #FFBC2C;
    --acentoSombra1: #FFAE00;
    --acentoSombra2: #C18400;
    --acentoSombra3: #674700;
    --acentoLuz1: #FFC341;
    --acentoLuz2: #FFD986;
    --acentoLuz3: #FFE6B0;
    --logo: #2E58FF;
    --textLink: #8AB3FD;
}
.game{
    margin: 50px;
    display: flex;
    align-items: center;
}
#ficha{
    position: relative;
    /* left: var(--mouse-x);
    top: var(--mouse-y); */
    transform: translate(var(--mouse-x), var(--mouse-y));
    transition: 2s;
}
#tablero{
    /* z-index: 1; */
    position: absolute;
    left: 280px;
    top: 200px;
    width: 400px;
    height: 300px;
}
#gameDiv{
    width: 890px;
    height: 590px;
}
.ficha, .dropPoint{
    width: 50px;
    height: 50px;
}



.canvas-container{
    width: 890px;
    height: 590px;
    position: relative;
}
/*#titulo{
    display: flex;
    position: absolute;
    left:256px;
    top:100px;
    text-shadow: 5px 5px 5px black ;
    text-shadow: rgb(0, 17, 255) 5px 0 15px;
}*/
#gameCanvas {
    position: absolute;
    background-image: url("../images/4enLinea/tablero4.webp");
}

#button4 {
    color: black;
    display: block;
    position:absolute;
    left: 370px;
    top:200px;
    padding: 0px;
    width: 150px;
    height: 54px;
    border-radius: 17px;
    margin-bottom: 20px;
    border-color: var(--primario);
    box-shadow: 0 0 40px 40px var(--primario) inset, 0 0 0 0 var(--primario);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
#button4:hover {
    background-color: var(--primarioLuz3);
    box-shadow: 0 0 10px 0 var(--primarioLuz1) inset, 0 0 10px 4px var(--primarioLuz1);
}   
#button4:focus{
    display: none;
}
#button4:focus #gameCanvas {
    position: relative;
    background-image: none;
}
/*#button4:focus #titulo{
    display: none;
}*/



