@font-face { font-family: nunito-regular;
	src: url('../fonts/Nunito-VariableFont_wght.ttf'); }

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: nunito-regular;
}
